<template>
  <q-dialog ref="dialog" @hide="onDialogHide" @keydown.esc="hide()">
    <q-card class="q-dialog-plugin">
      <q-card-section>
        <div class="text-h6 q-mb-md text-center">
          Add a Requirement / Feedback
        </div>
        <Dropdown
          label="Module"
          valueGetter='markingScheme/chosenModuleGetter'
          valueSetter='markingScheme/setChosenModuleAction'
          loadDataUrl='modules'
          class="q-mb-md"
          :readonly="false"
        />
        <Dropdown
          v-if="chosenModule"
          label="Project Section"
          valueGetter='markingScheme/chosenProjectSectionGetter'
          valueSetter='markingScheme/setChosenProjectSectionAction'
          :loadDataUrl='projectSectionsURL'
          :readonly="false"
        />
        <DisabledDropdown
          v-else
          label="Project Section"
          tooltipMessage="Please choose the module first!"
        />
        <q-input
          outlined
          clearable
          v-model="feedback"
          label="Your feedback"
          class="full-width q-pl-md q-pr-md q-mt-md"
        />
      </q-card-section>
      <q-card-actions align="right">
        <q-btn
          :loading="loading"
          color="primary"
          label="OK"
          @click="onOKClick"
        />
        <q-btn color="primary" label="Cancel" @click="onCancelClick" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
import Dropdown from './Dropdown'
import DisabledDropdown from './DisabledDropdown'

export default {
  components: {
    Dropdown,
    DisabledDropdown
  },
  data () {
    return {
      feedback: '',
      loading: false
    }
  },
  computed: {
    showAddRequirementDialog: {
      get () {
        return this.$store.getters['markingScheme/showAddRequirementDialogGetter']
      },
      set (value) {
        this.$store.dispatch('markingScheme/setShowAddRequirementDialogAction', value)
      }
    },
    chosenModule: {
      get () {
        return this.$store.getters['markingScheme/chosenModuleGetter']
      }
    },
    projectSectionsURL () {
      return 'project_sections_for_module_id?module_id=' + this.chosenModule.id
    },
    chosenProjectSection () {
      return this.$store.getters['markingScheme/chosenProjectSectionGetter']
    }
  },
  watch: {
    showAddRequirementDialog () {
      if (this.showAddRequirementDialog === true) {
        this.show()
      } else {
        this.hide()
      }
    },
    chosenModule: {
      immediate: true,
      handler: 'resetChosenProjectSection'
    }
  },
  methods: {
    show () {
      this.$refs.dialog.show()
    },
    hide () {
      this.showAddRequirementDialog = false
      this.resetChosenProjectSection()
      this.feedback = ''
      this.$refs.dialog.hide()
    },
    onDialogHide () {
      this.$emit('hide')
    },
    onOKClick () {
      this.$emit('ok')
      // or with payload: this.$emit('ok', { ... })
      this.loading = true
      let chosenProjectSectionId = null
      if (this.chosenProjectSection) {
        chosenProjectSectionId = this.chosenProjectSection.id
      }

      this.$axios({
        method: 'post',
        url: '/feedback',
        data: {
          feedback: {
            feedback: this.feedback,
            project_section_id: chosenProjectSectionId
          }
        }
      }).then((response) => {
        this.loading = false
        this.$q.notify({
          color: 'positive',
          position: 'top',
          message: 'Requirement Added!',
          icon: 'check_box'
        })
        // Refresh the requirements
        this.$store.dispatch('markingScheme/getFeedbackListAction', this.chosenModule)
        // Refresh the project section
        this.resetChosenProjectSection()
      })
        .catch((err) => {
          this.loading = false
          console.log(JSON.stringify(err))
          this.$q.notify({
            color: 'negative',
            position: 'top',
            message: JSON.stringify(err.message),
            icon: 'report_problem'
          })
        })
      this.hide()
    },
    onCancelClick () {
      this.showAddRequirementDialog = false
      this.hide()
    },
    resetChosenProjectSection () {
      this.$store.dispatch('markingScheme/setChosenProjectSectionAction', null)
    }
  }
}
</script>
