<template>
  <div class="full-width fill-height q-pb-md">
    <p class="text-center text-weight-medium">
      Comments
    </p>
    <form
      autocorrect="off"
      autocapitalize="off"
      autocomplete="off"
      spellcheck="true"
      class="full-height"
    >
      <q-editor
        v-model="comments"
        style="height: 100%"
        :dense="$q.screen.lt.md"
        :toolbar="[
          ['bold', 'italic', 'strike', 'underline'],
          ['token', 'hr', 'link', 'custom_btn'],
          [
            {
              label: $q.lang.editor.formatting,
              icon: $q.iconSet.editor.formatting,
              list: 'no-icons',
              options: [
                'p',
                'h1',
                'h2',
                'h3',
                'h4',
                'h5',
                'h6',
                'code'
              ]
            },
            {
              label: $q.lang.editor.fontSize,
              icon: $q.iconSet.editor.fontSize,
              fixedLabel: true,
              fixedIcon: true,
              list: 'no-icons',
              options: [
                'size-1',
                'size-2',
                'size-3',
                'size-4',
                'size-5',
                'size-6',
                'size-7'
              ]
            },
            'removeFormat'
          ],
          ['quote', 'unordered', 'outdent', 'indent'],
          ['undo', 'redo'],
          ['viewsource', 'fullscreen']
        ]"
        :fonts="{
          arial: 'Arial',
          arial_black: 'Arial Black',
          comic_sans: 'Comic Sans MS',
          courier_new: 'Courier New',
          impact: 'Impact',
          lucida_grande: 'Lucida Grande',
          times_new_roman: 'Times New Roman',
          verdana: 'Verdana'
        }"
      ></q-editor>
    </form>
    </div>
</template>

<script>
export default {
  name: 'Comments',
  computed: {
    comments: {
      get () {
        return this.$store.getters['markingScheme/commentsGetter']
      },
      set (value) {
        this.$store.dispatch('markingScheme/setCommentsAction', value)
      }
    }
  }
}
</script>

<style>

</style>
