<template>
  <div class="full-width fill-height q-pb-md">
    <p class="text-center text-weight-medium">
      Comments
    </p>
    <q-card
      bordered
      class="full-width fill-height">
      <q-card-section
        v-html="comments"
      />
    </q-card>
  </div>
</template>

<script>
export default {
  name: 'CommentsRendered',
  computed: {
    comments: {
      get () {
        return this.$store.getters['markingScheme/commentsGetter']
      }
    }
  }
}
</script>

<style>

</style>
