<template>
  <q-select
    outlined
    disabled
    v-model="selectValue"
    :label="label"
    class="full-width q-pl-md q-pr-md"
  >
    <q-tooltip>
      {{ tooltipMessage }}
    </q-tooltip>
  </q-select>
</template>

<script>
export default {
  name: 'Dropdown',
  props: {
    label: {
      type: String,
      required: true
    },
    tooltipMessage: {
      type: String,
      required: false
    }
  },
  data () {
    return {
      selectValue: null
    }
  }
}
</script>

<style>

</style>
