<template>
  <div class="flex no-wrap full-width q-pl-md q-pr-md">
    <q-select
      outlined
      clearable
      v-model="selectValue"
      use-input
      input-debounce="0"
      :label="label"
      :options="allSelectOptions"
      @filter="filterFn"
      :option-value="opt => Object(opt) === opt && 'id' in opt ? opt.id : null"
      :option-label="opt => Object(opt) === opt && 'name' in opt ? opt.name : '- Null -'"
      class="full-width"
      :hide-dropdown-icon="readonly"
      :readonly="readonly"
    >
      <template v-slot:no-option>
        <q-item>
          <q-item-section class="text-grey">
            No results
          </q-item-section>
        </q-item>
      </template>
    </q-select>
    <div
      v-if="!readonly"
      class="flex q-pa-sm items-center"
    >
      <q-btn
        round
        size="sm"
        icon="refresh"
        color="primary"
        :loading="loading"
        @click="loadAllOptions(loadDataUrl)"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'Dropdown',
  props: {
    label: {
      type: String,
      required: true
    },
    loadDataUrl: {
      type: String,
      required: true
    },
    valueGetter: {
      type: String,
      required: true
    },
    valueSetter: {
      type: String,
      required: true
    },
    readonly: {
      type: Boolean,
      required: true
    }
  },
  data () {
    return {
      loading: false,
      allSelectOptions: [],
      allOptions: []
    }
  },
  computed: {
    selectValue: {
      get () {
        return this.$store.getters[this.valueGetter]
      },
      set (value) {
        this.$store.dispatch(this.valueSetter, value)
      }
    }
  },
  methods: {
    loadAllOptions (url) {
      this.loading = true
      this.$axios({
        method: 'get',
        url: url
      }).then((response) => {
        this.allOptions = response.data.data
        this.allSelectOptions = this.allOptions
        setTimeout(() => { this.loading = false }, 500)
      })
        .catch((err) => {
          this.loading = false
          console.log(JSON.stringify(err))
          this.$q.notify({
            color: 'negative',
            position: 'top',
            message: JSON.stringify(err.message),
            icon: 'report_problem'
          })
        })
    },
    filterFn (val, update) {
      if (val === '') {
        update(() => {
          this.allSelectOptions = this.allOptions
        })
        return
      }

      update(() => {
        const needle = val.toLowerCase()
        this.allSelectOptions = this.allOptions.filter(v => v.name.toLowerCase().indexOf(needle) > -1)
      })
    }
  },
  watch: {
    loadDataUrl: {
      immediate: true,
      handler (newVal, oldVal) {
        this.loadAllOptions(newVal)
      }
    }
  }
}
</script>

<style>

</style>
