<template>
  <div class="row q-pa-md">
    <div class="column col-6 items-center q-pr-sm">
      <q-btn
        color="secondary"
        icon="keyboard_arrow_left"
        label="Previous"
        class="full-width"
        @click.native="previousStage()"
      />
    </div>
    <div
      v-if="mode != 'rendering'"
      class="column col-6 items-center q-pl-sm">
      <q-btn
        color="primary"
        icon-right="keyboard_arrow_right"
        label="Next"
        class="full-width"
        @click.native="nextStage()"
      />
    </div>
    <div
      v-else
      class="column col-6 items-center q-pl-sm">
      <q-btn
        color="primary"
        icon-right="keyboard_arrow_right"
        label="Upload"
        class="full-width"
        @click.native="uploadMarkedProject()"
      />
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    mode: {
      get () {
        return this.$store.getters['markingScheme/modeGetter']
      }
    }
  },
  methods: {
    nextStage () {
      this.$store.dispatch('markingScheme/setNextModeAction')
    },
    previousStage () {
      this.$store.dispatch('markingScheme/setPreviousModeAction')
    },
    uploadMarkedProject () {
      this.$store.dispatch('markingScheme/uploadMarkedProject')
    }
  }
}
</script>

<style>

</style>
