<template>
  <div class="full-width">
    <div
      v-for="section in sectionsForModule"
      :key="section.id">
      <q-table
        v-if="!noRequirementsForSection(section)"
        :title="section.name"
        :data="requirementsForSection(section)"
        no-data-label="No feedback for this section."
        :columns="columns"
        row-key="id"
        :filter="filter"
        virtual-scroll
        :pagination.sync="pagination"
        :rows-per-page-options="[0]"
        hide-bottom
        class="q-mb-sm"
      >
        <q-td
          slot="body-cell-selectionIcon"
          slot-scope="props"
          :props="props"
          auto-width
          >
          <div class="q-px-lg">
            <q-btn
              icon="star"
              round
              size="10px"
              color="green"
              v-if="checkValueInWellDone(props.row)"
            />
            <q-btn
              icon="star_half"
              round
              size="10px"
              color="red"
              v-if="checkValueInWellNeedsCorrections(props.row)"
            />
          </div>
        </q-td>
        <q-td
          slot="body-cell-requirementsOrder"
          slot-scope="props"
          :props="props"
          auto-width
          >
          <div class="q-px-lg q-gutter-sm">
            <q-btn
              icon="arrow_upward"
              round
              size="10px"
              @click.native="moveItemUp(props.row)"
            />
            <q-btn
              icon="arrow_downward"
              round
              size="10px"
              @click.native="moveItemDown(props.row)"
            />
          </div>
        </q-td>
      </q-table>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PreRenderingTable',
  props: {
    showOrderChange: {
      type: Boolean,
      required: true
    }
  },
  data () {
    return {
      filter: '',
      pagination: {
        rowsPerPage: 0
      },
      selectedRequirements: []
    }
  },
  computed: {
    chosenModule () {
      return this.$store.getters['markingScheme/chosenModuleGetter']
    },
    sectionsForModule () {
      return this.$store.getters['markingScheme/sectionsForModuleGetter']
    },
    columns () {
      if (this.showOrderChange === true) {
        return [
          {
            label: '',
            field: 'selectionIcon',
            name: 'selectionIcon',
            align: 'center',
            sortable: false
          },
          {
            label: 'Feedback',
            field: 'name',
            name: 'name',
            align: 'left',
            sortable: false
          },
          {
            label: '',
            field: 'requirementsOrder',
            name: 'requirementsOrder',
            align: 'right',
            sortable: false
          }
        ]
      } else {
        return [
          {
            label: '',
            field: 'selectionIcon',
            name: 'selectionIcon',
            align: 'center',
            sortable: false
          },
          {
            label: 'Feedback',
            field: 'name',
            name: 'name',
            align: 'left',
            sortable: false
          }
        ]
      }
    },
    selectedWellDone: {
      get () {
        return this.$store.getters['markingScheme/selectedWellDoneGetter']
      },
      set (value) {
        this.$store.commit('markingScheme/setSelectedWellDoneMutation', value)
      }
    },
    selectedNeedsCorrections: {
      get () {
        return this.$store.getters[
          'markingScheme/selectedNeedsCorrectionsGetter'
        ]
      },
      set (value) {
        this.$store.commit(
          'markingScheme/setSelectedNeedsCorrectionsMutation',
          value
        )
      }
    }
  },
  methods: {
    toggleWellDone (item) {
      this.$store.commit('markingScheme/toggleSelectedWellDoneMutation', item)
    },
    toggleNeedsCorrections (item) {
      this.$store.commit('markingScheme/toggleNeedsCorrectionsMutation', item)
    },
    getSelectedRequirements () {
      this.selectedRequirements = this.selectedWellDone.concat(
        this.selectedNeedsCorrections
      )
    },
    checkValueInWellDone (item) {
      const itemInSelectedWellDone = this.selectedWellDone.filter(
        tableItem => tableItem.id === item.id
      )
      if (itemInSelectedWellDone.length > 0) {
        return true
      } else {
        return false
      }
    },
    checkValueInWellNeedsCorrections (item) {
      const itemInSelectedNeedsCorrections = this.selectedNeedsCorrections.filter(
        tableItem => tableItem.id === item.id
      )
      if (itemInSelectedNeedsCorrections.length > 0) {
        return true
      } else {
        return false
      }
    },
    moveItemUp (item) {
      if (this.selectedWellDone.includes(item)) {
        const indexOfTheElement = this.selectedWellDone.indexOf(item)
        if (indexOfTheElement === 0) {
          console.log('Cannot move up!')
        } else {
          const elementToBeMovedId = this.selectedWellDone[indexOfTheElement]
          const elementAboveId = this.selectedWellDone[indexOfTheElement - 1]
          const newSelectedWellDone = this.selectedWellDone
          newSelectedWellDone[indexOfTheElement - 1] = elementToBeMovedId
          newSelectedWellDone[indexOfTheElement] = elementAboveId
          this.$store.commit(
            'markingScheme/setSelectedWellDoneMutation',
            newSelectedWellDone
          )
          this.getSelectedRequirements()
        }
      }
      if (this.selectedNeedsCorrections.includes(item)) {
        const indexOfTheElement = this.selectedNeedsCorrections.indexOf(item)
        if (indexOfTheElement === 0) {
          console.log('Cannot move up!')
        } else {
          const elementToBeMovedId = this.selectedNeedsCorrections[indexOfTheElement]
          const elementAboveId = this.selectedNeedsCorrections[indexOfTheElement - 1]
          const newSelectedNeedsCorrections = this.selectedNeedsCorrections
          newSelectedNeedsCorrections[indexOfTheElement - 1] = elementToBeMovedId
          newSelectedNeedsCorrections[indexOfTheElement] = elementAboveId
          this.$store.commit(
            'markingScheme/setSelectedNeedsCorrectionsMutation',
            newSelectedNeedsCorrections
          )
          this.getSelectedRequirements()
        }
      }
    },
    moveItemDown (item) {
      if (this.selectedWellDone.includes(item)) {
        const indexOfTheElement = this.selectedWellDone.indexOf(item)
        if (indexOfTheElement === (this.selectedWellDone.length - 1)) {
          console.log('Cannot move down!')
        } else {
          const elementToBeMovedId = this.selectedWellDone[indexOfTheElement]
          const elementBelowId = this.selectedWellDone[indexOfTheElement + 1]
          const newSelectedWellDone = this.selectedWellDone
          newSelectedWellDone[indexOfTheElement + 1] = elementToBeMovedId
          newSelectedWellDone[indexOfTheElement] = elementBelowId
          this.$store.commit(
            'markingScheme/setSelectedWellDoneMutation',
            newSelectedWellDone
          )
          this.getSelectedRequirements()
        }
      }
      if (this.selectedNeedsCorrections.includes(item)) {
        const indexOfTheElement = this.selectedNeedsCorrections.indexOf(item)
        if (indexOfTheElement === (this.selectedNeedsCorrections.length - 1)) {
          console.log('Cannot move down!')
        } else {
          const elementToBeMovedId = this.selectedNeedsCorrections[indexOfTheElement]
          const elementBelowId = this.selectedNeedsCorrections[indexOfTheElement + 1]
          const newSelectedNeedsCorrections = this.selectedNeedsCorrections
          newSelectedNeedsCorrections[indexOfTheElement + 1] = elementToBeMovedId
          newSelectedNeedsCorrections[indexOfTheElement] = elementBelowId
          this.$store.commit(
            'markingScheme/setSelectedNeedsCorrectionsMutation',
            newSelectedNeedsCorrections
          )
          this.getSelectedRequirements()
        }
      }
    },
    requirementsForSection (section) {
      return this.selectedRequirements.filter(requirement => requirement.section === section.name)
    },
    noRequirementsForSection (section) {
      const requirementsForSection = this.requirementsForSection(section)
      if (requirementsForSection.length === 0) {
        return true
      } else {
        return false
      }
    }
  },
  created () {
    this.getSelectedRequirements()
    this.$store.dispatch('markingScheme/getProjectSectionsForModuleAction', this.chosenModule)
  }
}
</script>

<style>

</style>
