<template>
  <div class="full-width">
    <div class="flex column col-12 justify-center">
      <q-btn
        color="primary"
        label="Add Requirement"
        @click="addNewRequirement()"
      />
      <q-input
        clearable
        outlined
        dense
        label="Search"
        color="primary"
        v-model="filter"
        class="q-mt-md q-mb-md"
      >
        <template v-slot:append>
          <q-icon name="search"></q-icon>
        </template>
      </q-input>
    </div>
  <q-table
    :data="feedbackList"
    :columns="columns"
    row-key="id"
    :filter="filter"
    virtual-scroll
    :pagination.sync="pagination"
    :rows-per-page-options="[0]"
    style="height: 500px"
    hide-bottom
  >
    <q-td
      slot="body-cell-section"
      slot-scope="props"
      :props="props"
      auto-width
      class="q-py-sm"
      >
      <span>
        {{ props.value }}
      </span>
    </q-td>
    <q-td
      slot="body-cell-category"
      slot-scope="props"
      :props="props"
      auto-width
    >
      {{ props.value }}
    </q-td>
    <q-td
      slot="body-cell-action"
      slot-scope="props"
      :props="props"
      auto-width
      >
      <div class="q-px-lg q-gutter-xs">
        <q-btn
          icon="star"
          round
          size="10px"
          :color="decideColorDoneWell(props.row)"
          @click="toggleWellDone(props.row)"
        />
        <q-btn
          icon="star_half"
          round
          size="10px"
          :color="decideColorNeedsCorrections(props.row)"
          @click="toggleNeedsCorrections(props.row)"
        />
      </div>
    </q-td>
  </q-table>
  </div>
</template>

<script>
export default {
  name: 'RequirementsTable',
  data () {
    return {
      filter: '',
      pagination: {
        rowsPerPage: 0
      },
      columns: [
        {
          label: 'Section',
          field: 'section',
          name: 'section',
          align: 'left',
          width: '10%',
          sortable: true
        },
        {
          label: 'Category',
          field: 'category',
          name: 'category',
          align: 'left',
          sortable: true
        },
        {
          label: 'Feedback',
          field: 'name',
          name: 'name',
          align: 'left',
          sortable: true
        },
        {
          label: 'Actions',
          field: 'action',
          name: 'action',
          align: 'center',
          sortable: false
        }
      ]
    }
  },
  computed: {
    feedbackList () {
      return this.$store.getters['markingScheme/feedbackListGetter']
    },
    selectedWellDone: {
      get () {
        return this.$store.getters['markingScheme/selectedWellDoneGetter']
      },
      set (value) {
        this.$store.commit('markingScheme/setSelectedWellDoneMutation', value)
      }
    },
    selectedNeedsCorrections: {
      get () {
        return this.$store.getters[
          'markingScheme/selectedNeedsCorrectionsGetter'
        ]
      },
      set (value) {
        this.$store.commit(
          'markingScheme/setSelectedNeedsCorrectionsMutation',
          value
        )
      }
    },
    chosenModule () {
      return this.$store.getters['markingScheme/chosenModuleGetter']
    }
  },
  methods: {
    toggleWellDone (item) {
      this.$store.commit('markingScheme/toggleSelectedWellDoneMutation', item)
    },
    toggleNeedsCorrections (item) {
      this.$store.commit('markingScheme/toggleNeedsCorrectionsMutation', item)
    },
    decideColorDoneWell (item) {
      const itemInSelectedWellDone = this.selectedWellDone.filter(
        tableItem => tableItem.id === item.id
      )
      if (itemInSelectedWellDone.length > 0) {
        return 'green'
      } else {
        return 'grey'
      }
    },
    decideColorNeedsCorrections (item) {
      const itemInSelectedNeedsCorrections = this.selectedNeedsCorrections.filter(
        tableItem => tableItem.id === item.id
      )
      if (itemInSelectedNeedsCorrections.length > 0) {
        return 'red'
      } else {
        return 'grey'
      }
    },
    addNewRequirement () {
      this.$store.dispatch('markingScheme/setShowAddRequirementDialogAction', true)
    }
  }
}
</script>

<style>

</style>
