<template>
  <div>
    <div class="column items-center q-pa-md">
      <span class="text-h4 text-center q-ma-sm">
        DATA ACADEMY
      </span>
      <span class="text-h4 text-center q-ma-sm">
        PROJECT FEEDBACK
      </span>
      <img
        src="https://brand-assets.decoded.com/logos/decoded_round_250px.png"
        height="100px"
        width="100px"
        class="q-ma-sm"
      />
    </div>
    <div class="column items-center q-pa-md">
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
