<template>
  <div class="flex row q-pa-md">
    <div class="col col-6 flex items-center justify-center">
      <Dropdown
        label="Cohort"
        valueGetter='markingScheme/chosenCohortGetter'
        valueSetter='markingScheme/setChosenCohortAction'
        loadDataUrl='cohorts'
        :readonly="dropdownsReadOnly"
      />
    </div>
    <div class="col col-6 flex items-center justify-center">
      <Dropdown
        v-if="chosenCohort"
        label="Learner"
        valueGetter='markingScheme/chosenLearnerGetter'
        valueSetter='markingScheme/setChosenLearnerAction'
        :loadDataUrl='allLearnersForCohortURL'
        :readonly="dropdownsReadOnly"
      />
      <DisabledDropdown
        v-else
        label="Learner"
        tooltipMessage="Please choose the cohort first!"
      />
    </div>
  </div>
</template>

<script>
import Dropdown from './Dropdown'
import DisabledDropdown from './DisabledDropdown'

export default {
  components: {
    Dropdown,
    DisabledDropdown
  },
  props: {
    dropdownsReadOnly: {
      type: Boolean,
      required: true
    }
  },
  data () {
    return {
      // allLearnersForCohortURL: '',
      forceLearnerListRefresh: false
    }
  },
  computed: {
    allLearnersForCohortURL () {
      return 'learners_for_cohort_id?cohort_id=' + this.chosenCohortId
    },
    chosenCohort: {
      get () {
        return this.$store.getters['markingScheme/chosenCohortGetter']
      }
    },
    chosenCohortId: {
      get () {
        return this.$store.getters['markingScheme/chosenCohortIdGetter']
      }
    }
  },
  watch: {
    chosenCohort () {
      this.$store.dispatch('markingScheme/setChosenLearnerAction', null)
    }
  }
}
</script>

<style>

</style>
