<template>
  <div class="flex row q-pa-md">
    <div class="col col-6 flex items-center justify-center">
      <Dropdown
        label="Marker"
        valueGetter='markingScheme/chosenMarkerGetter'
        valueSetter='markingScheme/setChosenMarkerAction'
        loadDataUrl='users'
        :readonly="dropdownsReadOnly"
      />
    </div>
    <div class="col col-6 flex items-center justify-center">
     <Dropdown
        label="Module"
        valueGetter='markingScheme/chosenModuleGetter'
        valueSetter='markingScheme/setChosenModuleAction'
        loadDataUrl='modules'
        :readonly="dropdownsReadOnly"
      />
    </div>
  </div>
</template>

<script>
import Dropdown from './Dropdown'

export default {
  components: {
    Dropdown
  },
  props: {
    dropdownsReadOnly: {
      type: Boolean,
      required: true
    }
  }
}
</script>

<style>

</style>
