<template>
  <q-page class="flex">
    <div class="
      q-pa-md
      full-width
      fill-height
      column
      bg-grey-1">
      <q-card bordered class="bg-grey-2 q-mb-md">
        <AddRequirementsDialog />
        <Row1 />
        <Row2
          :dropdownsReadOnly="dropdownsReadOnly"
        />
        <Row3
          :dropdownsReadOnly="dropdownsReadOnly"
        />
        <div class="q-pa-md">
          <div v-if="mode == 'marking'" class="flex row">
            <RequirementsTable />
          </div>
          <div v-if="mode == 'pre-rendering'" class="flex row no-wrap">
            <div class="column col-6 q-pa-sm">
              <q-scroll-area style="height: 400px;">
                <RenderedTable
                  :showOrderChange=true
                />
              </q-scroll-area>
            </div>
            <div class="column col-6 q-pa-sm">
              <Comments />
            </div>
          </div>
          <div v-if="mode == 'rendering'" class="flex row">
            <div class="column col-12 q-pa-sm">
              <CommentsRendered />
            </div>
            <div class="column col-12 q-pa-sm">
              <RenderedTable
                :showOrderChange=false
              />
            </div>
          </div>
        </div>
        <PreviousNextStageNavigator />
      </q-card>
    </div>
  </q-page>
</template>

<script>
import Row1 from './../components/markingScheme/Row1'
import Row2 from './../components/markingScheme/Row2'
import Row3 from './../components/markingScheme/Row3'
import RequirementsTable from './../components/markingScheme/RequirementsTable'
import RenderedTable from './../components/markingScheme/RenderedTable'
import PreviousNextStageNavigator from './../components/markingScheme/PreviousNextStageNavigator'
import Comments from './../components/markingScheme/Comments'
import CommentsRendered from './../components/markingScheme/CommentsRendered'
import AddRequirementsDialog from './../components/markingScheme/AddRequirementsDialog'

export default {
  name: 'MarkingScheme',
  components: {
    Row1,
    Row2,
    Row3,
    RequirementsTable,
    RenderedTable,
    PreviousNextStageNavigator,
    Comments,
    CommentsRendered,
    AddRequirementsDialog
  },
  computed: {
    mode: {
      get () {
        return this.$store.getters['markingScheme/modeGetter']
      }
    },
    dropdownsReadOnly () {
      const mode = this.$store.getters['markingScheme/modeGetter']
      if (mode === 'marking') {
        return false
      } else {
        return true
      }
    }
  }
}
</script>
