<template>
  <div id="q-app">
    <router-view />
  </div>
</template>

<script>
import { LocalStorage } from 'quasar'

export default {
  name: 'App',
  created () {
    // Making sure the loggedIn status is imported from the LocalStorage and synced.
    let loggedIn = false
    try {
      loggedIn = LocalStorage.getItem('loggedIn')
    } catch (e) {
      console.log('Local storage error.')
    }
    if (loggedIn) {
      this.$store.commit('auth/setLoggedInMutation', true)
    }
  }
}
</script>
