<template>
  <q-layout view="hHh lpR fFf">
    <q-header
      v-if="mode != 'rendering'"
      elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

        <q-toolbar-title class="absolute-center">
          Ergo
        </q-toolbar-title>

        <q-btn
          v-if="!loggedIn"
          flat
          icon-right="account_circle"
          label="Login"
          :to="{ name: 'Auth' }"
          class="absolute-right"
        >
        </q-btn>
        <q-btn
          v-else
          flat
          icon-right="account_circle"
          label="Logout"
          @click="signout()"
          class="absolute-right"
        >
        </q-btn>
      </q-toolbar>
    </q-header>

    <q-footer v-if="!$q.platform.is.desktop">
      <q-tabs>
        <q-route-tab
          v-for="nav in navs"
          :key="nav.id"
          :to="{ name: nav.toByName }"
          :icon="nav.icon"
          :label="nav.label" />
      </q-tabs>
    </q-footer>

    <q-drawer
      v-model="leftDrawerOpen"
      :width="200"
      bordered
      content-class="bg-primary"
    >
      <q-list dark>
        <q-item-label
          header
          class="text-grey-4"
        >
          Navigation
        </q-item-label>

         <q-item
            v-for="nav in navs"
            :key="nav.id"
            clickable
            exact
            :to="{ name: nav.toByName }"
            class="text-grey-4"
          >
            <q-item-section
              avatar
            >
              <q-icon :name="nav.icon" />
            </q-item-section>

            <q-item-section>
              <q-item-label>{{ nav.label }}</q-item-label>
            </q-item-section>
          </q-item>

      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: 'MainLayout',
  data () {
    return {
      leftDrawerOpen: false,
      navs: [
        {
          id: 1,
          label: 'Marking Scheme',
          icon: 'rate_review',
          toByName: 'MarkingScheme'
        },
        {
          id: 2,
          label: 'Settings',
          icon: 'settings',
          toByName: 'Settings'
        }
      ]
    }
  },
  computed: {
    loggedIn: {
      get () {
        return this.$store.getters['auth/loggedInGetter']
      }
    },
    mode: {
      get () {
        return this.$store.getters['markingScheme/modeGetter']
      }
    }
  },
  methods: {
    signout () {
      this.$store.dispatch('auth/logoutUserAction')
      this.$router.push({ name: 'Auth' })
    }
  }
}
</script>

<style lang="scss">
  .q-drawer {
    .q-router-link--active {
      color: white !important;
    }
  }
</style>
